<div class="main_bnr">
  <div class="bnr_tit"><span class="arial">404</span></div>
  <ul class="pagelink arial clearfix">
    <li><a href="#">Home</a></li>
    <li>❯</li>
    <li>404 Page</li>
  </ul>
</div>
<div class="error">
  <div class="container">
    <h3 class="common_tit01"><span>4
        <%=image_tag("error/error.png",alt: "error", class: "errorimg")%>4</span></h3>
    <div class="errortit">We Are Sorry, Page Not Found</div>
    <div class="errortxt">Unfortunately the page you were looking for could not be found. It may be temporarily unavailable, moved or no<br>
      longer exist. Check the Url you entered for any mistakes and try again.</div>
    <p class="txt_center"><a href="/home/index" class="button">Back To Home Page</a></p>
    </div>
  </div>
</div>
