.card_option{
  width: 50rem;
  margin: 0 auto;
}

.operation_button{
  margin-right: 20px;
}

.card_margin{
  margin: 5% 0 10%;
}

.fogot_password{
  margin-left: 30%;
  text-decoration: none;
}

.card-body-margin{
  margin-top: 25px;
  margin-bottom: 20px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
	padding: 0 !important;
	margin: 0 !important;
	border: 0 !important;
}

.card_margin-login{
  margin: 20% 0;
}