// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// Post list buttons
.custom_button {
  width: 150px !important;
}

.bg-cadetblue{
  background-color: #5f9ea0;
}

.form-check-input:checked{
  background-color: #359122 !important;
  border-color: #359122 !important;
}